@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hamlin';
  src: url('/fonts/Hamlin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hamlin';
  src: url('/fonts/Hamlin-ExtraBold.ttf') format('truetype');
  font-weight: 800; 
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}
